<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--
      The connection string that will be used to connect to our database for ConMan
    -->
    <add name="SqlDatabaseConnString"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <!-- 
      Use Forms Authentication...If not signed-in, redirect to loginUrl and
      once they do sign-in, set cookie timeout to 60 minutes and set
      slidingExpiration to true
      -->
    <authentication mode="Forms">
      <forms loginUrl="~/SignIn.aspx" timeout="60" slidingExpiration="true" />
    </authentication>

    <!-- This forces all users to sign-in-->
    <authorization>
      <deny users="?"/>
    </authorization>

  </system.web>

  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
